!!!
%html{ :lang => 'en' }
  %head
    %title
      = @item[:title]
    %link{ :rel=> 'stylesheet', :href => '/style.css' }
    %meta{ :charset => 'utf-8' }
    %meta{ :name => 'generator', :content => "Nanoc #{Nanoc::VERSION}" }
    %meta{ :content => 'width=device-width, initial-scale=0.8', :name => 'viewport' }
  %body
    %div
      %header
        %nav
          %ul
            %li
              = link_to_unless_current('home', '/')
            - @items.select { |item| item[:game] }.each do |item|
              %li
                = link_to_unless_current(item[:title], item)
      %main
        = yield
