%h2
  = @item[:title]
%iframe{ :src => "/assets/games/#{@item[:slug]}.html", :allow => 'fullscreen', :width => 160, :height => 160, :loading => 'lazy', :title => "#{@item[:title]} videogame" }
%p
  = @item[:description]
%p
  = @item[:details]
%div
  = "Source code at"
  %a{ :href => @item[:source] }
    = @item[:source]
